@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 214, 219, 220;
  font-size: 62.5%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: 214, 219, 220;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: --background-color;
}
